<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.snr.errand_helper" >
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/appico1"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TaskCreate"
            android:label="@string/title_activity_task_create" >
            <intent-filter>
                <action android:name="com.example.snr.errand_helper.TaskCreate" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TaskSelect"
            android:label="@string/title_activity_task_select" >
            <intent-filter>
                <action android:name="com.example.snr.errand_helper.TaskSelect" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".HomePage"
            android:label="@string/title_activity_home_page" >
            <intent-filter>
                <action android:name="com.example.snr.errand_helper.HomePage" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UserCreate"
            android:label="SignUp" >
        </activity>
        <activity
            android:name=".VideoTutorial"
            android:label="@string/title_activity_video_tutorial" >
            <intent-filter>
                <action android:name="com.example.snr.errand_helper.VideoTutorial" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>
